{%- liquid
    assign form_id = form_id | default: 'newsletter-form'
    assign class = class | default: 'newsletter-form'
-%}

{%- form 'customer', id: form_id, class: class -%}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="newsletter-form__field-wrapper">
        <div class="field">
            <label class="field__label visually-hidden" for="{{ form_id }}--name">
                {{ 'newsletter.name' | t }}
            </label>
            <input
                id="{{ form_id }}--name"
                type="text"
                {% comment %} Use `first_name` to store clients name{% endcomment %}
                name="contact[first_name]"
                class="field__input"
                value="{{ form.name }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                title="{{ 'newsletter.name' | t }}"
                required
                {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="{{ form_id }}-error"
                {% elsif form.posted_successfully? %}
                    aria-describedby="{{ form_id }}-success"
                {% endif %}
                placeholder="{{ 'newsletter.name' | t }}"
            >
            <label class="field__label visually-hidden" for="{{ form_id }}--email">
                {{ 'newsletter.label' | t }}
            </label>
            <input
                id="{{ form_id }}--email"
                type="email"
                name="contact[email]"
                class="field__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                title="{{ 'newsletter.email.validation' | t }}"
                required
                {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="{{ form_id }}-error"
                {% elsif form.posted_successfully? %}
                    aria-describedby="{{ form_id }}-success"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
            >
        </div>
        <button
            type="submit"
            class="button button--secondary newsletter-form__button"
            name="commit"
            id="{{ form_id }}-Subscribe"
        >
            {% if template == 'password' %}
                {{ 'newsletter.button_label' | t }}
            {% else %}
                {{ 'newsletter.button_label_subscribe' | t }}
            {% endif %}
            {% render 'icons-solid', name: 'long-arrow-right', css_class: 'icon-arrow extend' %}
        </button>
        {%- if form.errors -%}
            <div class="newsletter-form__message form__message--error form__message" id="{{ form_id }}-error">
                {% render 'icons-outline', name: 'x-circle' %}
                <p>
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}
                </p>
            </div>
        {%- endif -%}
    </div>

    {%- if form.posted_successfully? -%}
        <div
            class="newsletter-form__message form__message--success form__message"
            id="{{ form_id }}-success"
            tabindex="-1"
        >
            {% render 'icons-outline', name: 'check-circle' %}
            <p>{{ 'newsletter.success' | t }}</p>
        </div>
    {%- else -%}
        {%- if form.email -%}
            {% comment %} Email set for form {% endcomment %}
            {%- unless form.errors -%}
                {% comment %}
                    No errors.
                    It can happend when client already subscribed.
                    Or email is invalide. For example, user@example
                {% endcomment %}
                <div class="newsletter-form__message form__message--notice form__message" tabindex="-1">
                    {% render 'icons-outline', name: 'exclamation-circle' %}
                    <p class="notice-message">{{ 'newsletter.already_exists_or_invalid' | t }}</p>
                </div>
            {%- endunless -%}
        {%- endif -%}
    {%- endif -%}
{%- endform -%}
<script type="text/javascript">
    
  window.addEventListener("load", (event) => {
    let form = document.getElementById('{{ form_id }}');
    let message = form && form.querySelector('.newsletter-form__message');

    if (!message) return;

    if (window.location.hash === `#${form.id}` /* there is hash and it matches form ID */
      || !window.location.hash /* no hash (when form submitted succesfully) */
    ) {
      let popup = form && form.closest('popup-banner');

      if (popup)
        popup.show(true)
      else
        form?.scrollIntoView?.({behavior: "smooth"});
    }

  });

</script>
