{% comment %}
    Renders an item for product grid

    Accepts:
    - product:              {Object}  Product Liquid object
    - image_ratio           {String}
    - image_sizes_config    {String}
    - image_preload         {Boolean}
    - image_loading         {String}  (Optional) Set loading startegy for main image. Default: lazy
    - show_secondary_image  {Boolean} (Optional) Show the secondary image on hover. Default: false
    - show_to_cart_button   {Boolean}
    - show_description      {Boolean}
    - show_options_colors   {Boolean} Show color swatches. When unset use theme settings
    - uniq_id               {String}  (Optional)
{% endcomment %}

{% liquid
    if product.media[1] != null and show_secondary_image
        assign show_secondary_image = true
    else
        assign show_secondary_image = false
    endif

    unless current_collection
        assign current_collection = collection
    endunless

    assign on_sale = false
    if product.compare_at_price > product.price
        assign on_sale = true
    endif

    assign sold_out = false
    if product.available == false
        assign sold_out = true
    endif

    assign show_to_cart_button = show_to_cart_button | default: false
    if uniq_id == null
        assign uniq_id = section.id
    endif

    assign product_form_id = 'product-form-' | append: uniq_id | append: '-' | append: product.id
%}

<li
    class="grid-item{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}"
    data-product-id="{{ product.id }}"
    style="--image-width: {{ image_sizes_config | default: 240 | split: '|' | first }}px"
>
    <squama-item>
        <a href="{{ product.url | within: current_collection }}" class="item-link">
            <div class="item-image {% if show_secondary_image %}item-image__with-secondary{% endif %}">
                <!-- badges_html -->
                {% assign featuredImage = product.featured_media.preview_image %}
                <div
                    class="media"
                    style="padding-bottom: {% render 'helper__media-padding-bottom' image: featuredImage image_ratio: image_ratio %};"
                >
                    {% if featuredImage %}
                        {% render 'grid-item--item-image',
                            image: featuredImage,
                            image_ratio: image_ratio,
                            image_sizes_config: image_sizes_config,
                            image_loading: image_loading,
                            image_preload: image_preload
                        %}
                        {% if show_secondary_image %}
                            {% render 'grid-item--item-image',
                                image: product.media[1].preview_image,
                                image_ratio: image_ratio,
                                image_sizes_config: image_sizes_config
                            %}
                        {% endif %}
                    {% else %}
                        {{
                            product.id
                            | divided_by: 1000
                            | modulo: 4
                            | plus: 1
                            | prepend: 'product-'
                            | placeholder_svg_tag: 'placeholder-svg placeholder'
                        }}
                    {% endif %}
                </div>
                {% if mode == 'grid' %}
                    <div class="item-actions-wrapper">
                        {%- if show_to_cart_button != false -%}
                            {%- liquid
                                if product.has_only_default_variant
                                    assign buttonName = 'add'
                                    if product.selected_or_first_available_variant.available
                                        assign buttonText = 'products.product.add_to_cart' | t
                                        assign isButtonDisabled = false
                                    else
                                        assign buttonText = 'products.product.sold_out' | t
                                        assign isButtonDisabled = true
                                    endif
                                else
                                    assign buttonName = 'view'
                                    assign buttonText = 'products.product.view_full_details' | t
                                    assign isButtonDisabled = false
                                endif
                            -%}
                            <button
                                type="submit"
                                name="{{ buttonName }}"
                                class="button button--primary button--small"
                                form="{{ product_form_id }}"
                                aria-label="{{ buttonText }}"
                                title="{{ buttonText }}"
                                {% if isButtonDisabled %}
                                    disabled
                                {% endif %}
                            >
                                {% render 'theme-icons', name: 'cart', css_class: 'icon-cart' %}
                                <span class="text">{{ buttonText }}</span>
                            </button>
                        {%- endif -%}
                    </div>
                {% endif %}
            </div>
            <div class="item-details-wrapper">
                {%- if show_vendor -%}
                    <p class="item-vendor">
                        <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                        <span>{{ product.vendor | default: 'vendor' }}</span>
                    </p>
                {%- endif -%}
                <p class="item-title">{{ product.title | default: 'Example product title' }}</p>

                {% unless mode == 'list' %}
                    {% render 'helper__decorate-product-price',
                        product: product,
                        showPriceLabel: settings.price_label
                    %}
                {% endunless %}

                {% comment -%}
                    <!-- It is deprecated option to show ratings from SPR app. -->
                    <!-- App is deprecated -->
                {% endcomment -%}
                {% if settings.product_card_rating -%}
                    <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
                {%- endif %}

                {% if settings.product_card_rating_judgeme -%}
                    <div class="jdgm-widget jdgm-preview-badge">
                        {{- product.metafields.judgeme.badge -}}
                    </div>
                {%- endif %}

                {%- if show_options_colors or show_options_colors == null and settings.product_card_swatch_colors -%}
                    {%- render 'grid-items__swatch-options',
                        form: product_form_id,
                        product: product,
                        uniq_id: uniq_id
                    -%}
                {%- endif -%}

                {%- if show_description -%}
                    <div class="item-description rte">
                        {{- product.description | strip_html | truncatewords: 36 -}}
                    </div>
                {%- endif -%}
            </div>
            {% if mode == 'list' %}
                <div class="item-actions-wrapper">
                    {% render 'helper__decorate-product-price',
                        product: product,
                        showPriceLabel: settings.price_label
                    %}
                    {%- if show_to_cart_button != false -%}
                        {%- liquid
                            if product.has_only_default_variant
                                assign buttonName = 'add'
                                if product.selected_or_first_available_variant.available
                                    assign buttonText = 'products.product.add_to_cart' | t
                                    assign isButtonDisabled = false
                                else
                                    assign buttonText = 'products.product.sold_out' | t
                                    assign isButtonDisabled = true
                                endif
                            else
                                assign buttonName = 'view'
                                assign buttonText = 'products.product.view_full_details' | t
                                assign isButtonDisabled = false
                            endif
                        -%}
                        <button
                            type="submit"
                            name="{{ buttonName }}"
                            class="button button--primary button--small"
                            form="{{ product_form_id }}"
                            aria-label="{{ buttonText }}"
                            title="{{ buttonText }}"
                            {% if isButtonDisabled %}
                                disabled
                            {% endif %}
                        >
                            {% render 'theme-icons', name: 'cart', css_class: 'icon-cart' %}
                            <span class="text">{{ buttonText }}</span>
                        </button>
                    {%- endif -%}
                </div>
            {% endif %}
        </a>
    </squama-item>
    {%- if show_to_cart_button != false and product.id != blank -%}
        {% if product.has_only_default_variant %}
            <product-form class="product-form visually-hidden">
                {%- comment -%}
                    `this.add` in "onsubmit" refers submit button.
                    "add" is button name.
                {%- endcomment -%}
                {% form 'product',
                    product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                %}
                    <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                        disabled
                    >
                {% endform %}
            </product-form>
        {% else %}
            <form id="{{ product_form_id }}" action="{{ product.url | within: current_collection }}#has-options"></form>
        {% endif %}
    {% endif %}
</li>
