{% if customer %}
    <details class="header__icon--account--wrapper" data-advanced="true">
        <summary
            class="button header__icon header__icon--account"
            title="{{ 'customer.account_fallback' | t }}"
        >
            {% render 'theme-icons', name: 'account' %}
            <span class="account-label">
                {{ customer.first_name }}
            </span>
            <svg aria-hidden="true" focusable="false" role="presentation" width="12" height="12" class="icon-x" hidden>
                <use href="#icon-x" />
            </svg>
        </summary>
        <div class="disclosure__list--wrapper panel transition-bezier">
            <ul role="list" class="disclosure__list">
                <li class="disclosure__item" tabindex="-1">
                    <a class="disclosure__link link--text" href="{{ routes.account_url }}">
                        {{ customer.first_name }}
                        {{ customer.last_name }}
                    </a>
                </li>
                <li class="disclosure__item" tabindex="-1">
                    <a class="disclosure__link link--text" href="{{ routes.account_logout_url }}">
                        {{- 'customer.log_out' | t -}}
                    </a>
                </li>
            </ul>
        </div>
    </details>
{% else %}
    <a
        class="button header__icon header__icon--account"
        href="{{ routes.account_url }}"
        title="{{ 'customer.account_fallback' | t }}"
    >
        {% render 'theme-icons', name: 'account' %}
        <span class="account-label">
            {{ 'customer.account_fallback' | t }}
        </span>
    </a>
{% endif %}
