{%- comment -%}
    Render icons bar wrapper.

    Accepts:
     -  color_scheme  {String}
     -  enable_slider {Boolean}
     -  inner_html    {String}
{%- endcomment -%}

<div class="icons-bar color-{{ color_scheme }}">
    {% if enable_slider %}
        <slider-component data-slider-item=".icons-bar-item">
            {{ inner_html }}
            {% if section.blocks.size > 0 %}
                <div class="slider-buttons no-js-hidden">
                    <button
                        type="button"
                        class="slider-button slider-button--prev button--tertiary"
                        name="previous"
                        aria-label="{{ 'accessibility.previous_slide' | t }}"
                    >
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret">
                            <use href="#icon-caret" />
                        </svg>
                    </button>
                    <button
                        type="button"
                        class="slider-button slider-button--next button--tertiary"
                        name="next"
                        aria-label="{{ 'accessibility.next_slide' | t }}"
                    >
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret">
                            <use href="#icon-caret" />
                        </svg>
                    </button>
                </div>
            {% endif %}
        </slider-component>
    {% else %}
        {{ inner_html }}
    {% endif %}
</div>
