<div
    id="main-cart-footer"
    class="main-cart__footer"
    data-id="{{ section.id }}"
    {% if cart == empty %}
        class="is-empty"
    {% endif %}
>
    <div class="cart__footer">
        <div class="js-contents">
            <div class="summary">
                <h2 class="totals__subtotal h3">{{ 'sections.cart.subtotal' | t }}</h2>
            </div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
                <div>
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="discounts__discount discounts__discount--end">
                                {%- render 'icon-discount' -%}
                                {{ discount.title }}
                                (-{{ discount.total_allocated_amount | money }})
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}
            <div class="data">
                <small class="tax-note caption-large rte">
                    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{
                            'sections.cart.taxes_included_and_shipping_policy_html'
                            | t: link: shop.shipping_policy.url
                        }}
                    {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                    {%- elsif shop.shipping_policy.body != blank -%}
                        {{
                            'sections.cart.taxes_and_shipping_policy_at_checkout_html'
                            | t: link: shop.shipping_policy.url
                        }}
                    {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                    {%- endif -%}
                </small>
                <div class="totals">
                    <p class="totals__subtotal">{{ 'sections.cart.total' | t }}</p>
                    <p class="totals__subtotal-value">
                        {% render 'render-price', price: cart.total_price, css_class: 'price--final' %}
                    </p>
                </div>
            </div>
        </div>

        {% if section.settings.show_cart_note %}
            <cart-note class="cart__note field">
                <details
                    {% unless cart.note == null or cart.note == '' %}
                        open
                    {% endunless %}
                >
                    <summary>
                        <span id="Cart-note-label">{{ 'sections.cart.note' | t }}</span>
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret">
                            <use href="#icon-caret" /></use>
                        </svg>
                    </summary>
                    <div>
                        <textarea
                            class="text-area field__input"
                            name="note"
                            id="Cart-note"
                            placeholder="{{ 'sections.cart.note' | t }}"
                            aria-labelledby="Cart-note-label"
                        >{{ cart.note }}</textarea>
                    </div>
                </details>
            </cart-note>
        {% endif %}
    </div>
</div>
