{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate:     {Object}
    - tag_name:     {Object}  (Optional)
    - anchor:       {String}  (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{{ 'component-pagination.css' | asset_url | stylesheet_tag }}
<{{ tag_name | default: 'div' }}
    class="pagination"
    role="navigation"
    aria-label="{{ 'general.pagination.label' | t }}"
>
    {%- if paginate.parts.size > 0 -%}
        <ul
            class="pagination__list list-unstyled"
            role="list"
            data-page-prev="{% if paginate.previous %}true{% else %}false{% endif %}"
            data-page-next="{% if paginate.next %}true{% else %}false{% endif %}"
        >
            <li>
                <a
                    href="{{ paginate.previous.url }}{{ anchor }}"
                    class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce"
                    aria-label="{{ 'general.pagination.previous' | t }}"
                >
                    {% render 'icons-theme', name: 'arrow-left' %}
                    <span class="visually-hidden">
                        {{ 'general.pagination.label_previous' | t }}
                    </span>
                </a>
            </li>

            {%- for part in paginate.parts -%}
                <li>
                    {%- if part.is_link -%}
                        <a
                            href="{{ part.url }}{{ anchor }}"
                            class="pagination__item link"
                            aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                        >
                            {{ part.title }}
                        </a>
                    {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                            <span
                                class="pagination__item pagination__item--current"
                                aria-current="page"
                                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                            >
                                {{- part.title -}}
                            </span>
                        {%- else -%}
                            <span class="pagination__item">{{ part.title }}</span>
                        {%- endif -%}
                    {%- endif -%}
                </li>
            {%- endfor -%}

            <li>
                <a
                    href="{{ paginate.next.url }}{{ anchor }}"
                    class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce"
                    aria-label="{{ 'general.pagination.next' | t }}"
                >
                    <span class="visually-hidden">
                        {{ 'general.pagination.label_next' | t }}
                    </span>
                    {% render 'icons-theme', name: 'arrow-right' %}
                </a>
            </li>
        </ul>
    {%- endif -%}
</{{ tag_name | default: 'div' }}>
