{%- comment -%}
    Render popup using block settings

    Accepts:
     - block:      {Object}
     - blockOrder: {Number}
     - sectionId:  {String}
     - product:    {Object}
{%- endcomment -%}

<div
    class="product__info-block product__info-block--popup"
    style="order: {{ blockOrder }}"
    {{ block.shopify_attributes }}
>
    <modal-opener
        class="product-popup-modal__opener no-js-hidden"
        data-modal="#PopupModal-{{ block.id }}"
        {{ block.shopify_attributes }}
    >
        <button
            id="ProductPopup-{{ block.id }}"
            class="product-popup-modal__button button--secondary min-w-0"
            type="button"
            aria-haspopup="dialog"
        >
            {{- block.settings.link_label | default: block.settings.page.title -}}
        </button>
    </modal-opener>
    <a href="{{ block.settings.page.url }}" class="product-popup-modal__button no-js">
        {{- block.settings.link_label -}}
    </a>
</div>
