{% comment %}
    Render thumbnails for product gallery

    Accepts:
     -  product {Object}
     -  thumb_images_startegy {String} 'always_visible' | 'desktop_visible'
{% endcomment %}

{% if product.media.size > 1 %}
    <slider-vertical
        class="slider-thumbs--wrapper"
        data-thumbs-image-strategy="{{thumb_images_startegy }}"
    >
        <button
            type="button"
            class="button--tertiary"
            name="up"
            aria-label="{{ 'accessibility.previous_slide' | t }}"
            tabindex="-1"
        >
            {% render 'icons-theme', name: 'arrow-left' %}
        </button>
        <button
            type="button"
            class="button--tertiary"
            name="down"
            aria-label="{{ 'accessibility.next_slide' | t }}"
            tabindex="-1"
        >
            {% render 'icons-theme', name: 'arrow-right' %}
        </button>
        <div class="slider-pagination slider-bullets no-js-hidden slider-vertical--panel">
            {% for media in product.media %}
                <a
                    href="#media-{{ media.id }}"
                    onclick="this.closest('.product__media').activateSlide({{ forloop.index0 }}); return false;"
                    title="{{ media.alt }}"
                >
                    {%- liquid
                        if padding_bottom == null
                            assign padding_bottom = 100 | divided_by: media.preview_image.aspect_ratio
                        endif
                        assign lazy = 'lazy'
                    -%}
                    <div
                        class="image--wrapper"
                        {% if padding_bottom != blank %}
                            style="padding-bottom: {{ padding_bottom }}%"
                        {% endif %}
                    >
                        {{
                            media.preview_image
                            | image_url: width: thumb_width
                            | image_tag: data-image-id: media.preview_image.id, loading: lazy
                        }}
                        {% render 'media__thumb-type', media: media %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </slider-vertical>
{% endif %}
