{%- comment -%}
    Render search results for product.

    Accepts:
     - block {Object}
{%- endcomment -%}

{%- liquid
    assign has_side_column = false
    assign filters_position = block.settings.position | split: '-' | first
    if filters_position == 'left' or filters_position == 'right'
        assign has_side_column = true
    endif

    if filters_position == 'main'
        assign filters_type = 'buttons'
        assign filters_move_to = block.settings.position | split: '-' | last
    endif
-%}

{% capture hidden_inputs_html %}
    <input name="q" type="hidden" value="{{ search.terms | escape }}">
    <input name="type" type="hidden" value="product">
    <input name="options[prefix]" type="hidden" value="last">
{% endcapture %}

<div class="collection__info">
    <div class="collection__info-main">
        {% unless filters_position == 'left' or filters_position == 'right' -%}
            {% render 'search__block--filters', block: block, hidden_inputs_html: hidden_inputs_html %}
        {%- endunless %}

        <div
            id="CollectionProducts"
            class="search__block search__block--results collection__block"
            {{ block.shopify_attributes }}
        >
            {%- paginate search.results by block.settings.per_page -%}
                {% if search.results_count == 0 -%}
                    <div class="collection collection--empty" id="main-collection-products" data-id="{{ section.id }}">
                        {{ 'templates.search.no_results' | t: terms: search.terms | escape }}
                    </div>
                {% else -%}
                    <div class="collection">
                        <div class="collection-toolbar collection-toolbar-top">
                            {% if filters_move_to == 'products_toolbar' %}
                                {% render 'facets__desktop',
                                    filters: search.filters,
                                    desktop_facets_type: filters_type,
                                    desktop_facets_open: false,
                                    is_facets_slider: true,
                                    is_render_swatches: block.settings.show_swatch_colors,
                                    form_after_open_html: hidden_inputs_html
                                %}

                                {% render 'facets__mobile',
                                    filters: search.filters,
                                    is_render_swatches: block.settings.show_swatch_colors,
                                    form_after_open_html: hidden_inputs_html
                                %}
                            {% endif %}

                            {% if block.settings.show_mode -%}
                                {% render 'collection__view-mode',
                                    collection: search,
                                    current_mode: block.settings.mode
                                %}
                            {%- endif %}

                            <p class="collection-product-count">
                                {{
                                    'sections.collection_template.product_count_simple'
                                    | t: count: search.results_count
                                }}
                            </p>
                            {% if block.settings.show_sorting -%}
                                {% if search.filters.size > 0 %}
                                    {% render 'collection-sorting', collection: search, form: 'CollectionFiltersForm' %}
                                {% else %}
                                    <form id="CollectionSortForm" class="sorting__form">
                                        {% render 'collection-sorting', collection: collection %}
                                    </form>
                                {% endif %}
                            {%- endif %}
                        </div>

                        <div
                            id="main-collection-products__wrapper"
                            class="collection-products__wrapper"
                        >
                            {% render 'grid-items',
                                ul_id: 'main-collection-products',
                                ul_class: 'products',
                                has_side_column: has_side_column,
                                items: search.results,
                                mode: block.settings.mode,
                                columns: block.settings.columns,
                                badge_size: block.settings.badge_size,
                                image_ratio: block.settings.image_ratio,
                                product_secondary_image: settings.product_card_secondary_image,
                                product_to_cart_button: block.settings.show_to_cart_button,
                                product_show_vendor: settings.product_card_vendor,
                                product_description: block.settings.show_description
                            %}
                        </div>

                        {% capture pagination_html -%}
                            {% render 'pagination'
                              paginate: paginate
                              tag_name: 'fetcher-component'
                            %}
                        {%- endcapture -%}

                        {{
                            pagination_html
                            | replace_first: '<fetcher-component',
                                '<fetcher-component id="main-collection-pagination" data-loader-target="CollectionProducts" data-section="#section#"'
                            | replace: '#section#', section.id
                        }}
                    </div>
                {%- endif -%}
            {%- endpaginate -%}
        </div>
    </div>
    {% if search.filters.size > 0 -%}
        {%- if filters_position == 'left' or filters_position == 'right' -%}
            <div class="collection__info-aside collection__info-aside--{{ filters_position }}">
                {%- render 'search__block--filters', block: block -%}
            </div>
        {%- endif -%}
    {%- endif %}
</div>
