{{ 'customer.css' | asset_url | stylesheet_tag }}

{% comment %}
    - temporary solution to show the icons-bar section in all customers pages
{% endcomment %}
<div class="icons-bar__container mt-0">
    {% section 'icons-bar' %}
</div>

<div class="customer register">
    <h1>
        {{ 'customer.register.title' | t }}
    </h1>
    {%- form 'create_customer' -%}
        {%- if form.errors -%}
            <div class="form__message form__message--error" tabindex="-1">
                <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                {% render 'icons-outline', name: 'x-circle' %}
                <div>
                    <span>{{ 'templates.contact.form.error_heading' | t }}</span>
                    {{ form.errors | default_errors }}
                </div>
            </div>
        {%- endif -%}
        <div class="field">
            <label for="RegisterForm-FirstName" class="field__label">
                {{ 'customer.register.first_name' | t }}
            </label>
            <input
                type="text"
                name="customer[first_name]"
                id="RegisterForm-FirstName"
                {% if form.first_name %}
                    value="{{ form.first_name }}"
                {% endif %}
                autocomplete="given-name"
                aria-required="true"
                required
                placeholder="{{ 'customer.register.first_name' | t }}"
            >
        </div>
        <div class="field">
            <label for="RegisterForm-LastName" class="field__label">
                {{ 'customer.register.last_name' | t }}
            </label>
            <input
                type="text"
                name="customer[last_name]"
                id="RegisterForm-LastName"
                {% if form.last_name %}
                    value="{{ form.last_name }}"
                {% endif %}
                autocomplete="family-name"
                placeholder="{{ 'customer.register.last_name' | t }}"
            >
        </div>
        <div class="field">
            <label for="RegisterForm-email" class="field__label">
                {{ 'customer.register.email' | t }}
            </label>
            <input
                type="email"
                name="customer[email]"
                id="RegisterForm-email"
                {% if form.email %}
                    value="{{ form.email }}"
                {% endif %}
                spellcheck="false"
                autocapitalize="off"
                autocomplete="email"
                aria-required="true"
                required
                {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-email-error"
                {% endif %}
                placeholder="{{ 'customer.register.email' | t }}"
            >
        </div>
        <div class="field">
            <label for="RegisterForm-password" class="field__label">
                {{ 'customer.register.password' | t }}
            </label>
            <input
                type="password"
                name="customer[password]"
                id="RegisterForm-password"
                aria-required="true"
                required
                {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-password-error"
                {% endif %}
                placeholder="{{ 'customer.register.password' | t }}"
            >
        </div>
        <button class="mt-8">
            {{ 'customer.register.submit' | t }}
        </button>
    {%- endform -%}
</div>
