<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

        {% render 'favicon' %}

        {%- unless settings.type_header_font.system? -%}
            <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}

        <title>{{ shop.name }}</title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {% render 'meta-tags' %}
        {% render 'js__importmap' %}
        <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
        {{ content_for_header }}

        {% render 'critical-css__common' %}
        {% render 'critical-css__content' %}
        {{ 'styles.css' | asset_url | stylesheet_tag }}

        {%- unless settings.type_body_font.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_header_font.system? -%}
            <link
                rel="preload"
                as="font"
                href="{{ settings.type_header_font | font_url }}"
                type="font/woff2"
                crossorigin
            >
        {%- endunless -%}

        <script>
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
            function debounce(fn, wait) {
              let t;
              return (...args) => {
                clearTimeout(t);
                t = setTimeout(() => fn.apply(this, args), wait);
              };
            };
        </script>
    </head>

    <body>
        <a class="skip-to-content-link button" href="#MainContent">
            {{ 'accessibility.skip_to_text' | t }}
        </a>

        <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
            <symbol id="icon-close" class="icon icon-close" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </symbol>
        </svg>

        {% section 'main-password-header' %}

        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>

        {% section 'main-password-footer' %}

        {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
        {{ 'styles-deferred.css' | asset_url | stylesheet_tag }}

        {% render 'initialize-deferred-scripts', init_core_components: true %}

        <template id="template__loading-overlay">
            {%- render 'loading-overlay' -%}
        </template>
    </body>
</html>
