{{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
<script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>

<header class="gift-card__title">
    <h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
    <span class="h2">{{ shop.name }}</span>
    <div class="gift-card__price">
        <p>{% render 'render-price', price: gift_card.initial_value %}</p>
        {%- if gift_card.enabled == false or gift_card.expired -%}
            <p class="gift-card__label badge badge--{{ settings.sold_out_badge_color_scheme }}">
                {{ 'gift_cards.issued.expired' | t }}
            </p>
        {%- endif -%}
    </div>

    {%- assign gift_card_balance = gift_card.balance | money -%}
    {%- if gift_card.balance != gift_card.initial_value -%}
        <p class="gift-card__label caption-large">
            {{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}
        </p>
    {%- endif -%}
</header>

<main class="gift-card">
    <div class="gift-card__image-wrapper">
        {% if section.settings.image %}
            {% assign sizes = section.settings.image_width | append: 'px' %}
            {% render 'render-image',
                css_class: 'gift-card__image',
                image: section.settings.image,
                width: section.settings.image_width,
                widths: section.settings.image_width,
                sizes: sizes
            %}
        {% else %}
            <img
                src="{{ 'gift-card/card.svg' | shopify_asset_url }}"
                alt=""
                class="gift-card__image"
                height="{{ section.settings.image_width | divided_by: 1.5 | round }}"
                width="{{ section.settings.image_width }}"
                loading="lazy"
            >
        {% endif %}
    </div>
    <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
    <div class="gift-card__information">
        <div class="field">
            <input
                type="text"
                class="gift-card__number"
                value="{{ gift_card.code | format_code }}"
                aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
                readonly
            >
            <button
                class="field__button button--small button--tertiary gift-card__copy no-print"
                title="{{ 'gift_cards.issued.copy_code' | t }}"
            >
                {% render 'icons-outline', name: 'duplicate' %}
                <span class="visually-hidden">{{ 'gift_cards.issued.copy_code' | t }}</span>
            </button>
        </div>
        <div class="gift-card__copy-code">
            <p class="gift-card__copy-success form__message form__message--success" role="status"></p>
            <template>
                {% render 'icons-outline', name: 'check-circle' %}
                {{ 'gift_cards.issued.copy_code_success' | t }}
            </template>
        </div>
        {%- if gift_card.pass_url -%}
            <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
                <img
                    src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
                    width="120"
                    height="40"
                    alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
                    loading="lazy"
                >
            </a>
        {%- endif -%}
        <div class="gift-card__buttons no-print">
            <a
                href="{{ shop.url }}"
                class="button button--primary"
                target="_blank"
                rel="noopener"
                aria-describedby="a11y-new-window-message"
            >
                {{ 'gift_cards.issued.shop_link' | t }}
            </a>
            <button
                class="button button--secondary"
                onclick="window.print();"
            >
                {{ 'gift_cards.issued.print_gift_card' | t }}
            </button>
        </div>
    </div>
</main>

<script>
    var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
    document.addEventListener('DOMContentLoaded', function() {
     new QRCode( document.querySelector('.gift-card__qr-code'), {
      text: document.querySelector('.gift-card__qr-code').dataset.identifier,
      width: 120,
      height: 120,
      imageAltText: string.qrImageAlt
      });
    });

    var template = document.getElementsByTagName("template")[0];
    var clonedTemplate = template.content.cloneNode(true);

    var isMessageDisplayed = false
    document
    .querySelector('.gift-card__copy')
    .addEventListener('click', () => {
      navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
        if (!isMessageDisplayed) {
          document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
          isMessageDisplayed = true
        }
      });
    });
</script>

{% schema %}
{
    "name": "t:sections.gift_card.name",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.gift_card.settings.image.label"
        },
        {
            "type": "text",
            "id": "image_width",
            "label": "t:sections.gift_card.settings.image_width.label",
            "default": "450"
        }
    ]
}
{% endschema %}
