<style>
    :root {
      --header--background-color: {{ settings.colors_header_background }};
      --header--text-color: {{ settings.colors_header_text }};
    }

    body {
      display: flex;
      flex-direction: column;
    }

    #MainContent {
      margin: 2rem 0;
    }

    #shopify-section-{{ section.id }} {
      position: relative;
      background: var(--header--background-color);
      padding: 1rem 0;
      border-bottom: 2px solid var(--color-foreground-4);
      z-index: 10;
    }

    .password-header {
      display: grid;
      gap: .5rem;
      align-items: center;
      grid-template-areas: "logo password";
      grid-template-columns: 1fr auto;
    }

    .password-header h1 {
      grid-area: logo;
      overflow: hidden;
      white-space: nowrap;
    }

    .password-header .h2,
    .password-header password-modal {
      color: var(--header--text-color);
    }

    .password-header password-modal {
      grid-area: password;
      justify-self: right;
      margin-right: .5rem;
    }

    .header__heading-link {
       margin: 0;
    }

    .password-modal[open] {
      position: relative;
      z-index: 20;
    }

    .password-modal[open] .popup-modal {
      visibility: visible;
      opacity: 1;
      z-index: 2;
    }

    .modal__close-button {
      position: absolute;
      right: .25rem;
      top: .25rem;
    }

    .modal__close-button svg {
      width: 1.5rem;
    }

    .popup-modal__content {
      padding: .5rem 1.5rem 1rem;
      max-width: 420px !important;
    }

    .password-modal__content-heading {
      text-align: center;
      color: var(--color-base-text);
    }

    .password__footer-text {
      margin-top: 2rem;
      display: block;
      text-align: center;
    }

    .password-modal > summary: hover svg {
      scale: 1.05;
      transition: scale .35s;
    }

    @media (min-width: 990px) {
      .password-header {
        grid-template-areas: ". logo password";
        grid-template-columns: 1fr 1fr 1fr;
      }

      .password-header h1 {
        justify-self: center;
      }

      .popup-modal__content {
        padding: 1rem 3rem 2rem;
      }

      .modal__close-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }
</style>

<div class="password-header dynamic-page-width">
    <h1 class="header__heading">
        <span class="header__heading-link">
            {%- if section.settings.logo != blank -%}
                {%- assign image_width = section.settings.logo_max_width -%}
                {%- assign image_height = image_width | divided_by: section.settings.logo.aspect_ratio | round -%}
                {%- assign image_alt = section.settings.logo.alt | default: shop.name | escape -%}
                {% capture sizes %}(max-width: {{ image_width | times: 2 }}px) 100vw, {{ image_width }}px{% endcapture %}
                {% capture widths %}{{ image_width }}, {{ image_width | times: 2 }}{% endcapture %}
                {{
                    section.settings.logo
                    | image_url: width: image_width, height: image_height
                    | image_tag:
                        class: 'header__heading-logo',
                        alt: image_alt,
                        widths: widths,
                        sizes: sizes,
                        preload: true
                }}
            {%- else -%}
                <span class="h2">
                    {%- liquid
                        assign parts = shop.name | split: ' '
                        for part in parts
                            if forloop.first
                                echo part | prepend: '<strong>' | append: '</strong>'
                            else
                                echo part | prepend: ' '
                            endif
                        endfor
                    -%}
                </span>
            {%- endif -%}
        </span>
    </h1>

    {%- if shop.password_message != blank -%}
        <div class="password-content">
            {{ shop.password_message }}
        </div>
    {%- endif -%}

    <password-modal>
        <details class="password-modal modal">
            <summary class="modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.password_page.modal' | t }}">
                <div class="modal__toggle-open header__icon button--small">
                    {% render 'icons-outline', name: 'lock-closed', css_class: 'w-5 h-5' %}
                    <span class="desktop-only">{{ 'general.password_page.login_password_button' | t }}</span>
                </div>
                <div class="modal__toggle-close" aria-hidden="true">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close">
                        <use href="#icon-close" />
                    </svg>
                </div>
            </summary>
            <div
                class="modal__content popup-modal"
                role="dialog"
                aria-labelledby="DialogHeading"
                aria-modal="true"
            >
                <div class="password-modal__content popup-modal__content" tabindex="-1">
                    <button
                        type="button"
                        class="modal__close-button no-js-hidden"
                        aria-label="{{ 'accessibility.close' | t }}"
                    >
                        {% render 'icons-outline', name: 'x' %}
                    </button>
                    <a href="" class="modal__close-button js-hidden no-js" aria-label="{{ 'accessibility.close' | t }}">
                        {% render 'icons-outline', name: 'x' %}
                    </a>
                    <h2 class="password-modal__content-heading" id="DialogHeading">
                        {{ 'general.password_page.login_form_heading' | t }}
                    </h2>
                    {%- form 'storefront_password', class: 'password-form' -%}
                        {%- if form.errors -%}
                            <div id="PasswordLoginForm-password-error" role="status">
                                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                <span class="form__message form__message--error">
                                    {%- render 'icons-outline', name: 'x-circle' %}
                                    {{ 'general.password_page.login_form_error' | t -}}
                                </span>
                            </div>
                            <script type="text/javascript">
                                document.querySelector('.password-modal').open = true;
                            </script>
                        {%- endif -%}
                        <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                            <label
                                class="field__label visually-hidden"
                                for="{{ 'general.password_page.login_form_password_label' | t }}"
                            >
                                {{- 'general.password_page.login_form_password_placeholder' | t -}}
                            </label>
                            <input
                                type="password"
                                name="password"
                                id="Password"
                                class="field__input"
                                autocomplete="current-password"
                                {% if form.errors %}
                                    aria-invalid="true"
                                    aria-describedby="PasswordLoginForm-password-error"
                                {%- endif -%}
                                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                            >
                            <button
                                name="commit"
                                class="password-button button button--primary button--small field__button"
                            >
                                {{ 'general.password_page.login_form_submit' | t }}
                            </button>
                        </div>
                    {%- endform -%}
                    <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
                </div>
            </div>
        </details>
    </password-modal>
</div>

{% render 'initialize-deferred-scripts', init_password_modal: true %}

<noscript>
    {{ 'component-modal-dialog.css' | asset_url | stylesheet_tag }}
</noscript>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 220,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    }
  ]
}
{% endschema %}
