{{ '404.css' | asset_url | stylesheet_tag }}

<div class="template-404 dynamic-page-width">
    <h1 class="title">
        {{ 'templates.404.title' | t }}
    </h1>
    <h2 class="subtitle">
        {{ 'templates.404.subtext' | t }}
    </h2>
    <a href="{{ routes.root_url }}" class="link">
        {{ 'general.continue_shopping' | t }}
    </a>
</div>
