{{ 'component-product-tabs.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-listing-grid.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-listing-grid.css' | asset_url | stylesheet_tag }}</noscript>

{% style %}
    {% if section.settings.tabs_layout == 'collapsed' -%}
    product-tabs [role=tablist] ~ [role=tabpanel] {
        display: none;
    }
    {% for block in section.blocks -%}
        #tab-{{ block.id }}:checked ~ [role=tablist] #tab-label-{{ block.id }}{%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %} {
        box-shadow: inset 0 0 0 100rem var(--color-foreground);
        color: var(--color-background);
    }
    {% for block in section.blocks -%}
        #tab-{{ block.id }}:checked ~ #tab-{{ block.id }}--content{%- unless forloop.last -%}, {% endunless -%}
    {%- endfor %} {
        display: block;
    }
    {%- endif %}
    @media (min-width: calc({{ settings.type_layout_max_width}}px)) {
        #shopify-section-{{ section.id }} .tab-content .shopify-relax .jdgm-form-wrapper,
        #shopify-section-{{ section.id }} .tab-content .spr-form {
            margin-right: calc(-1 * min(calc((100vw - {{ settings.type_layout_max_width}}px) / 2 + .25rem), 4rem));
        }

        #shopify-section-{{ section.id }} .tab-content .shopify-relax [data-number-of-reviews="0"] .jdgm-form-wrapper {
            margin: 0 auto;
        }

        #shopify-section-{{ section.id }} .tab-content .spr-container:not(:has(.spr-header .spr-starrating)) .spr-form {
            margin: 0 auto;
        }
    }
{% endstyle %}

<product-tabs
    class="product-tabs product-tabs--{{ section.settings.tabs_layout }} dynamic-page-width"
    data-layout="{{ section.settings.tabs_layout }}"
>
    {% if section.settings.tabs_layout == 'expanded' %}
        <div class="expanded-inner">
            {% for block in section.blocks %}
                {% render 'product-tabs__expanded', block: block %}
            {% endfor %}
        </div>
    {% else %}
        {% for block in section.blocks %}
            <input
                type="radio"
                class="visually-hidden"
                id="tab-{{ block.id }}"
                name="tabs-{{ section.id }}"
                {% if forloop.first %}
                    checked
                {% endif %}
            >
        {% endfor %}

        {% assign content_html = '' %}
        <div class="scrollbar scrollbar-thin" role="tablist">
            {% for block in section.blocks %}
                {%- liquid
                    capture tab_content
                        render 'product-tabs__tab-content', block: block
                    endcapture
                    assign tab_content = tab_content | strip
                -%}
                {% if tab_content != blank %}
                    <h2
                        id="tab-label-{{ block.id }}"
                        class="tab-title"
                        role="tab"
                        aria-controls="tab-{{ block.id }}--content"
                    >
                        <label id="tab-label-{{ block.id }}-title" for="tab-{{ block.id }}">
                            <span>{% render 'product-tabs__tab-heading', block: block %}</span>
                        </label>
                    </h2>
                    {%- liquid
                        assign content_html = content_html | append: '<div id="tab-'
                        assign content_html = content_html | append: block.id
                        assign content_html = content_html | append: '--content" class="tab-content" role="tabpanel" '
                        assign content_html = content_html | append: block.shopify_attributes
                        assign content_html = content_html | append: '>'
                        assign content_html = content_html | append: tab_content
                        assign content_html = content_html | append: '</div>'
                    -%}
                {% endif %}
            {% endfor %}
        </div>
        {{ content_html }}
    {% endif %}
</product-tabs>

{% render 'initialize-deferred-scripts', init_product_tabs: true %}

{% schema %}
{
    "name": "t:sections.product-tabs.name",
    "class": "spaced-section product-section-tabs",
    "tag": "section",
    "settings": [
        {
            "type": "select",
            "id": "tabs_layout",
            "label": "t:sections.product-tabs.settings.tabs_layout.label",
            "default": "collapsed",
            "options": [
                {
                    "value": "collapsed",
                    "label": "t:sections.product-tabs.settings.tabs_layout.option__1.label"
                },
                {
                    "value": "expanded",
                    "label": "t:sections.product-tabs.settings.tabs_layout.option__2.label"
                }
            ]
        }
    ],
    "max_blocks": 7,
    "blocks": [
        {
            "type": "@app"
        },
{
    "type": "custom_liquid",
    "name": "t:sections.custom-liquid.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.product-tabs.blocks.all.settings.heading.label",
            "default": "Tab"
        },
        {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "t:sections.custom-liquid.settings.custom_liquid.label",
            "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
    ]
}
,
{
    "type": "description",
    "name": "t:sections.product-tabs.blocks.description.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.product-tabs.blocks.all.settings.heading.label",
            "default": "Product Description"
        }
    ]
}
,
{
    "type": "details",
    "name": "t:sections.product-tabs.blocks.details.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.product-tabs.blocks.all.settings.heading.label",
            "default": "Details"
        },
        {
            "type": "select",
            "id": "details_position",
            "label": "t:sections.product-tabs.blocks.details.settings.details_position.label",
            "options": [
                {
                    "value": "details_in_list",
                    "label": "t:sections.product-tabs.blocks.details.settings.details_position.details_in_list.label"
                },
                {
                    "value": "details_in_row",
                    "label": "t:sections.product-tabs.blocks.details.settings.details_position.details_in_row.label"
                }
            ],
            "default": "details_in_list"
        }
    ]
}
,
{
    "type": "faq",
    "name": "t:sections.product-tabs.blocks.faq.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.product-tabs.blocks.faq.settings.heading.label",
            "info": "t:sections.product-tabs.blocks.faq.settings.heading.info",
            "default": "Frequently Asked Questions"
        },
        {
            "type": "text",
            "id": "default_faqs",
            "label": "t:sections.product-tabs.blocks.faq.settings.default_faqs.label",
            "info": "t:sections.product-tabs.blocks.faq.settings.default_faqs.info",
            "default": "What level of performance can I expect from 4K Color Drive?:This tv comes equipped with a 4k color drive, which allows the tv to accurately reproduce a wider spectrum of colors. you’ll experience an exceptionally vibrant, pristine image that makes each scene more lifelike."
        },
        {
            "type": "url",
            "id": "link_to_faq_page",
            "label": "t:sections.product-tabs.blocks.faq.settings.link_to_faq_page.label"
        }
    ]
},
{
    "type": "reviews",
    "name": "t:sections.product-tabs.blocks.reviews.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.product-tabs.blocks.all.settings.heading.label",
            "default": "Reviews"
        },
        {
            "type": "paragraph",
            "content": "t:sections.product-tabs.blocks.reviews.paragraph"
        },
        {
            "type": "radio",
            "id": "app",
            "label": "t:sections.product-tabs.blocks.reviews.settings.app.label",
            "options": [
                {
                    "value": "judgeme",
                    "label": "t:sections.product-tabs.blocks.reviews.settings.app.options.judgeme"
                },
                {
                    "value": "spr",
                    "label": "t:sections.product-tabs.blocks.reviews.settings.app.options.spr"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "enable_theme_appearance",
            "label": "t:sections.product-tabs.blocks.reviews.settings.enable_theme_appearance.label",
            "info": "t:sections.product-tabs.blocks.reviews.settings.enable_theme_appearance.info",
            "default": false
        }
    ]
}
,
{
    "type": "similar",
    "name": "t:sections.product-tabs.blocks.similar.name",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.product-tabs.blocks.all.settings.heading.label",
            "default": "Similar Products"
        },
        {
            "type": "product_list",
            "id": "source",
            "limit": 6,
            "label": "t:sections.all.promote_source.label",
            "info": "t:sections.all.promote_source.info"
        },
        {
            "type": "checkbox",
            "id": "is_random",
            "default": true,
            "label": "t:sections.all.promote_random.label"
        },
        {
            "type": "range",
            "id": "products_per_page",
            "min": 2,
            "max": 6,
            "step": 1,
            "default": 4,
            "label": "t:sections.product-tabs.blocks.similar.settings.products_per_page.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.product-card.header"
        },
        {
            "type": "select",
            "id": "badge_size",
            "options": [
                {
                    "value": "xs",
                    "label": "t:sections.all.product-card.badge_size.options__1.label"
                },
                {
                    "value": "sm",
                    "label": "t:sections.all.product-card.badge_size.options__2.label"
                },
                {
                    "value": "md",
                    "label": "t:sections.all.product-card.badge_size.options__3.label"
                },
                {
                    "value": "lg",
                    "label": "t:sections.all.product-card.badge_size.options__4.label"
                },
                {
                    "value": "xl",
                    "label": "t:sections.all.product-card.badge_size.options__5.label"
                }
            ],
            "default": "sm",
            "label": "t:sections.all.product-card.badge_size.label"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "label": "t:sections.all.product-card.image_ratio.label",
            "options": [
                {
                    "value": "settings|product_card_image_ratio",
                    "label": "t:sections.all.product-card.image_ratio.options.default"
                },
                {
                    "value": "native",
                    "label": "t:sections.all.product-card.image_ratio.options.native"
                },
                {
                    "value": "1",
                    "label": "t:sections.all.product-card.image_ratio.options.1_by_1"
                },
                {
                    "value": "5/4",
                    "label": "t:sections.all.product-card.image_ratio.options.4_by_5"
                }
            ],
            "default": "settings|product_card_image_ratio"
        },
        {
            "type": "checkbox",
            "id": "show_to_cart_button",
            "default": false,
            "label": "t:sections.all.product-card.show_to_cart_button.label"
        }
    ]
}

    ],
    "presets": [
        {
            "name": "t:sections.product-tabs.presets.collapsed",
            "settings": {
                "tabs_layout": "collapsed"
            },
            "blocks": [
                {
                    "type": "description"
                },
                {
                    "type": "similar"
                }
            ]
        }
    ],
    "enabled_on": {
        "templates": ["product"]
    }
}
{% endschema %}
